/* Global settings */
html {
}

:root {
  --main-color-text: #757575;
  --titel-color-text: #212121;
  --white-color-text: #ffffff;
  --bgd-accent-color: #2f303a;
  --bgd-button: #2196f3;
}

body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  display: flex;
  justify-content: space-between;
}
/* hover focus tab */

.nav-link:hover,
.nav-link:focus,
.contact-top :hover,
.contact-top :focus,
.contact-bot :hover,
.contact-bot :focus {
  color: var(--bgd-button);
}

/* header */
.header {
  height: 80px;
  display: flex;
}


.header .container {
  align-items: center;
}

.nav-link,
.contact-link-top {
  letter-spacing: 0.02em;
}

/*  Navigation */
.nav-page {
  display: flex;
  align-items: center;

}

.nav-list {
  display: flex;
  justify-content: space-between;

  margin-left: 93px;

  width: 281px;
  height: 16px;
}

.nav-link {
  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
}

/* logotype */

.logo {
  color: #000;
  display: inline-block;


  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;

  text-decoration: none;
}

/* logo - span */
.web {
  color: #2196f3;
    display: inline-block;
}

/* TOP Contacts */
.contact-top {
  display: flex;
  align-items: center;
  height: 16px;
  /* margin-bottom: 32px; */
}

.tel {
  margin-left: 50px;
}

.contact-link-top {
  color: var(--main-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

/* Main */

.bgd-main {
  background-color: var(--bgd-accent-color);
  padding: 200px 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title {
  color: var(--white-color-text);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
}

/* Batton */

.button {
  color: var(--white-color-text);
  background-color: var(--bgd-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  min-width: 152px;

  border: none;
  cursor: pointer;
}

.button:active {
  background-color: #188ce8;
}

/* Section peculiarity */

.peculiarity {
  padding: 94px 0;
}

.peculiarity  .list{
  width: 270px;
}

.list .subtitle {
  width: 270px;
}
.subtitle {
  color: var(--titel-color-text);

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.post {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Section works img */

.work {
  padding-bottom: 94px;
}

.title-work,
.title-team {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/*  Section team */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.name {
  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.status {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.card-bgd {
  width: 270px;
  min-height: 368px;

  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
 
}
/* Footer */



.footer {
  background-color: var(--bgd-accent-color);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  height: 253px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .container{
flex-direction: column;
}

.footer .logo {

}

.address {
  font-style: normal;
}

.contact-bot {
  width: 231px;
  height: 81px;



}

.contact-link-bot {
  color: var(--main-color-text);
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer > a,
.map-link {
  color: var(--white-color-text);
}

.footer-email,
.footer-tel {
  margin-top: 9px;
}

/* 2 Main Portfolio */

.filter {
  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color-text);
  background-color: var(--bgd-button);
}

.project {
  text-decoration: none;
}

.project-title {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--main-color-text);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}
